.container {
  min-height: 100vh;
  padding: 80px 0;
  background-color: #f2ebe1;
}

.title {
  color: #00136C;
  font-weight: bold;
  margin-bottom: 32px;
  text-align: center;
}

.content {
  color: #666;
  line-height: 1.6;
  text-align: center;
}
